<h2 mat-dialog-title>Buchung</h2>
<mat-dialog-content>
  <form fxLayout="column">
    <mat-form-field fxFlex="100%">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-divider fxHide.lt-sm></mat-divider>
    <div fxLayout="row wrap" fxFlex="100%" fxLayoutGap=".5rem" fxLayout.lt-sm="column">
      <mat-form-field fxFlex="calc((100% - .5rem) / 2)" fxFlex.lt-sm="100%">
        <mat-label>Ammount</mat-label>
        <input matInput type="number" step="0.01">
        <mat-icon matSuffix>euro</mat-icon>
      </mat-form-field>
      <mat-form-field fxFlex="calc((100% - .5rem) / 2)" fxFlex.lt-sm="100%">
        <mat-label>Date</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate>
          <input matEndDate>
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <mat-divider fxHide.lt-sm></mat-divider>
    <mat-radio-group fxFlex="100%"
                     class="example-radio-group">
      <mat-radio-button value="0" class="example-radio-button">Einkommen</mat-radio-button>
      <mat-radio-button value="1" class="example-radio-button">Ausgabe</mat-radio-button>
      <mat-radio-button value="2" class="example-radio-button">Schuldenaufnahme</mat-radio-button>
    </mat-radio-group>

    <ng-container>
      <mat-divider fxHide.lt-sm></mat-divider>

      <div fxLayout="row wrap" fxFlex="100%" fxLayoutGap=".5rem" fxLayout.lt-sm="column">
        <mat-form-field fxFlex="calc((100% - .5rem) / 2)" fxFlex.lt-sm="100%">
          <mat-label>PayOff</mat-label>
          <input matInput type="number" step="0.01">
        </mat-form-field>
        <mat-form-field fxFlex="calc((100% - .5rem) / 2)" fxFlex.lt-sm="100%">
          <mat-label>Frequency</mat-label>
          <mat-select></mat-select>
        </mat-form-field>
      </div>

    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button>Abbrechen</button>
  <button mat-flat-button color="primary">Buchen</button>
</mat-dialog-actions>
