// 900
$mat-primary: (
  50: #e1f0fe,
  100: #b8dafd,
  200: #89c4fd,
  300: #56acfb,
  400: #2a9bfb,
  500: #008afa,
  600: #007ceb,
  700: #006ad7,
  800: #0059c5,
  900: #0639a6,
  contrast: (
    50: #0639a6,
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: white,
    800: white,
    900: white,
  )
);
// 900
$mat-triadic: (
  50: #f9f2e0,
  100: #f0ddb2,
  200: #e7c781,
  300: #deb14f,
  400: #d9a12d,
  500: #d49212,
  600: #d1880c,
  700: #cb7a05,
  800: #c56c00,
  900: #bb5700,
  contrast: (
    50: #bb5700,
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: white,
    900: white,
  )
);
// 900
$mat-danger: (
  50: #fde4ec,
  100: #f9bacf,
  200: #f68db0,
  300: #f25e90,
  400: #ef3878,
  500: #ec0560,
  600: #db025d,
  700: #c50059,
  800: #b00055,
  900: #8c004e,
  contrast: (
    50: #8c004e,
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
  )
);
// 800
$mat-accent: (
  50: #f5e5fa,
  100: #e6bef3,
  200: #d692ec,
  300: #c564e5,
  400: #b83cdf,
  500: #aa00d8,
  600: #9900d2,
  700: #8200cb,
  800: #6c00c5,
  900: #3c00bd,
  contrast: (
    50: #3c00bd,
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$background: (
  50: #f5e5fa,
  100: #e6bef3,
  200: #d692ec,
  300: #c564e5,
  400: #b83cdf,
  500: #aa00d8,
  600: #9900d2,
  700: #8200cb,
  800: #6c00c5,
  900: #3c00bd,
  contrast: (
    50: #3c00bd,
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);
