<mat-drawer-container>
  <mat-drawer-content>
    <mat-toolbar color="white" fxLayoutAlign="space-between center" style="position: sticky;top: 0;z-index: 10;">
      <budgetoverview-menu></budgetoverview-menu>
      <div  fxLayoutAlign="end center">
        <!-- avatar -->
        <button mat-icon-button (click)="auth.SignOut()" color="warn">
          <mat-icon>power_settings_new</mat-icon>
        </button>
        <budgetoverview-avatar src="{{(auth.userData?.photoURL) ? auth.userData?.photoURL : '/assets/dummy-user.svg'}}" [matTooltip]="auth.userData?.displayName"></budgetoverview-avatar>
      </div>
    </mat-toolbar>
    <div class="container" style="min-height: calc(100vh - 64px - 20px - 20px);">
      <router-outlet></router-outlet>
    </div>
    <div fxLayoutAlign="center center" class="px-10" style="gap:1rem;"><small>&copy; {{ year }} All Rights reserved</small><span fxHide.lt-sm> &bull; <small>Waldheim.dev</small></span> &bull; <small>{{ name }} &bull; v{{version}}</small></div>

  </mat-drawer-content>
</mat-drawer-container>
