@use '@angular/material' as mat;
@use 'assets/colors' as colors;

@function modify-background($theme, $background-color) {
  // Replace the background in the color object's background palette.
  $theme-color: map-get($theme, color);
  $color-background-palette: map-get($theme-color, background);

  $color-background-palette: map-merge($color-background-palette, (background: $background-color));
  $color-background-palette: map-merge($color-background-palette, (raised-button: $background-color));
  //  $color-background-palette: map-merge($color-background-palette, (card: $background-color));

  // Replace the background in the background palette.
  $background-palette: map-get($theme, background);
  $background-palette: map-merge($background-palette, (background: $background-color));
  $background-palette: map-merge($background-palette, (raised-button: $background-color));
  // $background-palette: map-merge($background-palette, (card: $background-color));

  // Merge the changes into a new theme.
  $modified-theme: map-merge($theme, (
    background: $background-palette, color: (map-merge(map-get($theme, color), (background: $color-background-palette)))
  )
  );
  @return $modified-theme;
}

// modify foreground
@function modify-foreground($theme, $foreground-color) {
  // Replace the foreground in the color object's foreground palette.
  $theme-color: map-get($theme, color);
  $color-foreground-palette: map-get($theme-color, foreground);

  $color-foreground-palette: map-merge($color-foreground-palette, (foreground: $foreground-color));
  $color-foreground-palette: map-merge($color-foreground-palette, (raised-button: $foreground-color));
  //  $color-foreground-palette: map-merge($color-foreground-palette, (card: $foreground-color));

  // Replace the foreground in the foreground palette.
  $foreground-palette: map-get($theme, foreground);
  $foreground-palette: map-merge($foreground-palette, (foreground: $foreground-color));
  $foreground-palette: map-merge($foreground-palette, (raised-button: $foreground-color));
  // $foreground-palette: map-merge($foreground-palette, (card: $foreground-color));

  // Merge the changes into a new theme.
  $modified-theme: map-merge($theme, (
    foreground: $foreground-palette, color: (map-merge(map-get($theme, color), (foreground: $color-foreground-palette)))
  )
  );
  @return $modified-theme;
}

@include mat.core();

// get Hex of light themen background
$background: #fafafa;
$my-primary: mat.define-palette(colors.$mat-primary, 800);
$my-accent: mat.define-palette(colors.$mat-accent, 800);
$my-danger: mat.define-palette(colors.$mat-danger, 700);
$my-triadic: mat.define-palette(colors.$mat-triadic, 800);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-danger,
  )
));
@include mat.all-component-themes($my-theme);

@include mat.strong-focus-indicators-theme($my-theme);

.dark-theme {
  // get hex of dark themen background
  $background: #0E0E0E;
  $foreground: #212121;
  $my-theme-dark: mat.define-dark-theme((
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-danger
    )
  ));
  $my-theme-dark: modify-background($my-theme-dark, $background);
  $my-theme-dark: modify-foreground($my-theme-dark, $foreground);
  @include mat.all-component-themes($my-theme-dark);
  @include mat.strong-focus-indicators-theme($my-theme-dark);

}


.mat-chip-list {
  display: block;
  margin-bottom: 1rem !important;

  mat-chip {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    &:not([color]),
    &.positive:not([color]) {
      background-color: mat.get-color-from-palette($my-triadic, 50) !important;
      color: mat.get-color-from-palette($my-triadic, 50 -contrast) !important;
    }

    &.negative:not([color]) {
      background-color: mat.get-color-from-palette($my-danger, 50) !important;
      color: mat.get-color-from-palette($my-danger, 50 -contrast) !important;
    }
  }
}

.mat-list-base {
  .mat-list-item {
    border-radius: 0.25rem;
  }
}

::-webkit-scrollbar {
  width: .3rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  background: mat.get-contrast-color-from-palette($my-primary, 800);
}

::-webkit-scrollbar-thumb {
  background: mat.get-color-from-palette($my-primary, 100);
}

::-webkit-scrollbar-thumb:hover {
  background: mat.get-color-from-palette($my-primary, 800);
  cursor: pointer
}
