figure {
  height: 40px;
  width: 40px;
  overflow: hidden;
  display: inline-flex;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;

  img {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
  }
}
