
.mat-list-base .mat-list-item .mat-list-item-content {
  gap: 0.5rem;
}

table {
  width: 100%;
}

.mat-toolbar-single-row, .mat-toolbar-row {
  z-index: 10000 !important;
}

@mixin mode-color() {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid;
  overflow: hidden;
  position: relative;
  transform: rotate(22.5deg);
}

.lightmode {
  @include mode-color;
  background-color: white;
}

.darkmodemode {
  @include mode-color;
  background-color: darkslategray;
}

.systemmode {
  @include mode-color;
  background-color: white;

  &:before {
    content: " ";
    background-color: darkslategray;
    width: .5rem;
    height: 1rem;
    display: block;
  }
}


.darkmodemode, .systemmode, .lightmode {
  &:after {
    content: " ";
  }
}

.mat-option-text {
  display: inline-flex !important;
  align-items: center;
  gap: .5rem;
}

mat-form-field.setting {
  .mat-form-field-wrapper {
    padding-bottom: 1.34375em;
    padding-top: 1.34375em;

  }
}

.mat-expansion-panel-header {
  height: auto !important;
  padding: 1rem 24px !important;
}

@media screen and (max-width: 900px) {

  .mat-content {
    flex-direction: column !important;
    flex: 0 0 auto !important;
    width: 100%;
  }


  mat-expansion-panel-header {
    padding-bottom: 1rem !important;
  }

  .mat-expansion-panel-header-title h4 {
    margin-bottom: .25rem;
  }
}

