<h1>Dashboard</h1>
<div fxLayout="column wrap"  fxLayout.lt-md="column-reverse" fxLayoutGap=".5rem">
  <div fxLayout="row wrap" fxLayoutGap=".5rem" fxLayout.lt-md="column" fxLayoutAlign="space-evenly stretch" fxFlexFill>
    <mat-card fxFlex="calc((100% - 1rem) / 3)" fxFlex.lt-md="100%">
      <mat-card-header>
        <h4>Einnahmen pro Monat</h4>
      </mat-card-header>
      <mat-card-content>
        <budgetoverview-input-table></budgetoverview-input-table>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="calc((100% - 1rem) / 3)" fxFlex.lt-md="100%">
      <mat-card-header>
        <h4>Ausgaben pro Monat</h4>
      </mat-card-header>
      <mat-card-content>
        <budgetoverview-output-table></budgetoverview-output-table>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="calc((100% - 1rem) / 3)" fxFlex.lt-md="100%">
      <mat-card-header>
        <h4>Offene Schulden</h4>
      </mat-card-header>
      <mat-card-content>
        <budgetoverview-offset-table></budgetoverview-offset-table>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row wrap" fxLayoutGap=".5rem" fxLayout.lt-sm="column"  fxLayoutAlign="space-evenly stretch" fxFlexFill>
    <mat-card fxFlex="calc((100% - .5rem) / 3)">
      <mat-card-header><h4>Budgets</h4></mat-card-header>
      <mat-card-content>
        <budgetoverview-budget-chart  [data]="getBudget()" [labels]="budgetLabels"></budgetoverview-budget-chart>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="calc((100%) / 2)">
      <mat-card-header><h4>Schuldentilgung</h4></mat-card-header>
      <mat-card-content>
        <budgetoverview-offset-chart></budgetoverview-offset-chart>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="fab-spacer">
<button mat-fab color="primary" aria-label="Add new Booking" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
</div>
