@media screen and (min-width: 900px) {
  .table-container {
    min-height: 15rem;
    height: 15rem;
    max-height: 15rem;
    overflow: auto;
  }
}

.mat-column-amount {
  flex: 0 0 auto;
  text-align: right;
}

.mat-column-action {
  flex: 0 0 30px;
  text-align: center;
}
