<div fxLayout>
  <div class="mc-brand p-10" fxLayoutAlign="center center">
    <button fxShow.lt-sm fxHide mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img alt="Brand Logo" src="assets/logo.png" height="44px">&nbsp;<strong>Budget</strong>&nbsp;
    <div fxShow fxHide.lt-sm>
      <a mat-button routerLink="/portal/dashboard" routerLinkActive="active">Dashboard</a>
      <a mat-button routerLink="/portal/settings" routerLinkActive="active">Settings</a>
    </div>
    <!--    <a mat-button routerLink="/portal/help" routerLinkActive="active">Get Help</a>-->
  </div>
</div>
<mat-sidenav-container [ngClass]="{'opened': sidenav.opened}"  (click)="sidenav.toggle()">
  <mat-sidenav #sidenav mode="side" >
    <mat-nav-list>
      <mat-list-item routerLink="/portal/dashboard" routerLinkActive="active">
        <mat-icon fxLayoutAlign="center center" mat-list-icon>dashboard</mat-icon>
        Dashboard
      </mat-list-item>
      <mat-list-item routerLink="/portal/settings" routerLinkActive="active">
        <mat-icon fxLayoutAlign="center center" mat-list-icon>settings</mat-icon>
        Settings
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
