mat-sidenav-container {
  left: -100%;
  transition: left 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.12);
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  height: 100%;
  &.opened {
    left: 0;
  }
}

mat-sidenav {
  width: 100%;
  max-width: 220px;
}
