<h1>Einstellungen</h1>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>Allgemein</h4>
      </mat-panel-title>
      <mat-panel-description>Stellen Sie Benutzerübergreifende Einstellungen ein. Alle diese Einstellungen betreffen alle Benutzer.</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayout.lt-sm="column" class="setting" fxLayoutAlign="space-between center">
      <div fxFlex="auto">
        <strong>Sprache</strong><br>
        <small>Stellen Sie Ihre bevorzugte Sprache ein, um die Software leichter und besser zu verstehen.</small>
      </div>
      <div fxFlex="none">
        <mat-form-field class="setting">
          <mat-label>Aktuelle Sprache</mat-label>
          <mat-select></mat-select>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayout.lt-sm="column" class="setting" fxLayoutAlign="space-between center">
      <div fxFlex="auto">
        <strong>Währung</strong><br>
        <small>Stellen Sie die Währung ein, die Sie primär nutzen.</small>
      </div>
      <div fxFlex="none">
        <mat-form-field class="setting">
          <mat-label>Aktuelle Währung</mat-label>
          <mat-select></mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>Benutzer</h4>
      </mat-panel-title>
      <mat-panel-description>Stellen Sie mit Ihrem Benutzer spezifisch die Software ein oder laden Sie andere Benutzer ein, um Ihre Einträge mit zu verwalten.</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayout.lt-sm="column" class="setting" fxLayoutAlign="space-between center">
      <div fxFlex="auto">
        <strong>Theme</strong><br>
        <small>Stellen Sie Ihre Darstellung ein, die die App haben soll</small>
      </div>
      <div fxFlex="none">
        <mat-form-field class="setting">
          <mat-label>Farbschema</mat-label>
          <mat-select>
            <mat-option [value]="0"><span class="lightmode"></span> Light Mode</mat-option>
            <mat-option [value]="1"><span class="darkmodemode"></span> Dark Mode</mat-option>
            <mat-option [value]="2"><span class="systemmode"></span> Systemeinstellung</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" class="settings" fxLayoutAlign="space-between center">
      <div fxFlex="auto">
        <strong>Eingeladene Benutzer</strong><br>
        <small>Schauen Sie, welche Benutzer Ihre Planungen sehen können</small>
      </div>

      <div fxFlex="none">
        <button mat-stroked-button color="primary"><mat-icon>add</mat-icon> Benutzer einladen</button>
      </div>
      <div fxFlex="100%">
        <mat-list *ngIf="userInvites.length > 0 else emptyUser;">
          <ng-container *ngFor="let user of userInvites">
            <mat-list-item >
              <div mat-line>{{user.name}}</div>
              <div mat-line> {{user.inviteDate | date}} </div>
              <mat-icon mat-list-icon>folder</mat-icon>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" class="settings" fxLayoutAlign="space-between center">
      <div fxFlex="100%">
        <strong>Andere Benutzer</strong><br>
        <small>Sehe Sie ein, bei welchen Benutzern Sie eingeladen sind.</small>
      </div>
      <div fxFlex="100%">
        <mat-list *ngIf="invitedUsers.length > 0 else emptyOtherUser;">
          <ng-container *ngFor="let user of invitedUsers">
            <mat-list-item >
              <div mat-line>{{user.name}}</div>
              <div mat-line> {{user.inviteDate | date}} </div>
              <mat-icon mat-list-icon>folder</mat-icon>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>


<ng-template #emptyUser>
  <budgetoverview-empty>
    Kein anderer Benutzer darf Ihre Planungen sehen
  </budgetoverview-empty>
</ng-template>

<ng-template #emptyOtherUser>
  <budgetoverview-empty>
    Sie sind von keinem Benutzer eingeladen
  </budgetoverview-empty>
</ng-template>
