<div class="split">
  <div class="split-left">
    <div class="privacy">
    </div>
  </div>
  <div class="split-right">
    <div class="form">
      <div fxLayout fxLayoutAlign="center center" class="py-10">
        <img alt="Brand Logo" src="assets/logo.png" height="44px">&nbsp;<strong style="font-size: 2rem;">Budget</strong>&nbsp;
      </div>
      <h1>Jetzt einloggen</h1>
      <button mat-stroked-button (click)="auth.GoogleAuth()" data-cy-login-google><img src="./assets/images/Google_G-Logo.wine.svg" height="30px"  alt="Google Logo"><span>Anmelden mit Google</span></button>
    </div>
  </div>
</div>
